<?xml version="1.0" encoding="UTF-8"?>  
<configuration>    
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
    <param name="Encoding" value="UTF-8" />    
        <encoder>    
            <pattern>%d{yyyy-MM-dd HH:mm:ss.sss} [mob-log日志][%-5p] %c - %m%n</pattern>  
        </encoder>    
    </appender>    
    <appender name="baselog"    
        class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <File>log/base_mob.log</File>    
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
            <fileNamePattern>log/base_mob.log.%d.%i</fileNamePattern>    
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">    
                <!-- or whenever the file size reaches 64 MB -->    
                <maxFileSize>64 MB</maxFileSize>    
            </timeBasedFileNamingAndTriggeringPolicy>    
        </rollingPolicy> 
           
        <encoder>    
            <pattern>    
                <!-- %d %p (%file:%line\)- %m%n   -->
                %d{yyyy-MM-dd HH:mm:ss.sss} [mob-log日志][%-5p] %c - %m%n
            </pattern>    
           <!--  <charset>UTF-8</charset> --> <!-- 此处设置字符集 -->   
        </encoder>    
    </appender>    
    <root level="info">    
        <appender-ref ref="STDOUT" />    
    </root>    
    <logger name="com" level="DEBUG">    
        <appender-ref ref="baselog" />    
    </logger>    
    
    
    <logger name="com.netflix.discovery" additivity="false" >
		<level value="WARN" />
	</logger>  
</configuration>  
